@import url('https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-straight/css/uicons-bold-straight.css');
*{
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  background: inherit;
  color: inherit;
  list-style-type: none;
  text-transform: capitalize;
  font-family: serif;
}
body {
  background: #eaeaea;
}
.container {
  width: 1420px;
  height: auto;
  margin-left: 1%;
  margin: 0 auto;
}
img {
    width: 100%;
  }
  i.fi {
    margin-top: 2px;
  }
  .container {
    margin: auto;
    width: 1200px;
  }
  header {
    margin-top: 0;
    padding: 20px 20px 20px 30px;
    display: flex;
    justify-content: space-between;
    background: #2c2c2c;
    border-radius: 0 0 20px 20px;
    /*
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    */
  }
  .logo a {
    font-size: 23px;
    display: flex;
    color: #fff;
    align-items: center;
  }
  ul.main_menu {
    display: flex;
    align-items: center;
  }
  ul.main_menu li {
    position: relative;
  }
  ul.main_menu li a {
    padding: 15px 25px;
    background: #2c2c2c;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 5px;
    border: 2px solid transparent;
    border-radius: 100px;
    transition: 0.3s;
    position: relative;
    z-index: 9;
  }
  ul.main_menu li a:hover {
    color: #27b899;
    border-color: #27b899;
  }
  ul.main_menu li a:hover + ul.sub_menu {
    opacity: 1;
    visibility: visible;
  }
  ul.sub_menu {
    min-width: 150px;
    padding: 20px 10px 10px;
    position: absolute;
    top: 60px;
    left: 0;
    background: #2c2c2c;
    z-index: 5;
    border-radius: 0 0 40px 40px;
    opacity: 0;
    transition: 0.2s;
    visibility: hidden;
  }
  ul.sub_menu:hover {
    opacity: 1;
    visibility: visible;
  }
  ul.sub_menu li a {
    padding: 10px 20px;
  }
  
/*(.dasturchi)*/ 
li.dasturchi ul.main_menu {
    display: flex;
    align-items: center;
  }
  li.dasturchi ul.main_menu li {
    position: relative;
  }
  li.dasturchi ul.main_menu li a {
    padding: 15px 25px;
    background: #2c2c2c;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 5px;
    border: 2px solid transparent;
    border-radius: 100px;
    transition: 0.3s;
    position: relative;
    z-index: 9;
  }
  li.dasturchi ul.main_menu li a:hover {
    color: #27b899;
    border-color: #27b899;
  }
  li.dasturchi ul.main_menu li a:hover + ul.sub_menu {
    opacity: 1;
    visibility: visible;
  }
  li.dasturchi ul.sub_menu {
    min-width: 150px;
    padding: 20px 10px 10px;
    position: absolute;
    top: 60px;
    left: 0;
    background: #2c2c2c;
    z-index: 5;
    border-radius: 0 0 40px 40px;
    opacity: 0;
    transition: 0.2s;
    visibility: hidden;
  }
  li.dasturchi ul.sub_menu:hover {
    opacity: 1;
    visibility: visible;
  }
  li.dasturchi ul.sub_menu li a {
    padding: 10px 20px;
  }
/*menu*/  
.container .asos {
    display: flex;
    margin: 30px auto;
    display: flex;
    justify-content: center;
}
.container .asos .asos_a img {
    width: 350px;
    vertical-align: auto;
    height: 415px;
    border: 5px solid #007ACC;
}
.container .asos .asos_b ul.logo {
    display: flex;
    margin-left: 10px;
    margin-bottom: 8px;
    /*padding-right: 20px;*/
}
.container .asos .asos_b ul.logo li {
    padding: 3px 3px;
    border-radius: 8px 0 0 8px;
    width: 250px;
    height: 40px;
    color: #fff;
    font-size: 30px;
    background-color: #007ACC;
    text-transform: capitalize;
}
.container .asos .asos_b ul.logo span {
    padding: 3px 3px;
    border-radius: 0 8px 8px 0;
    width: 350px;
    height: 40px;
    font-size: 30px;
    color: #000;
    background-color: rgb(31, 196, 31);
    text-transform: capitalize;
}
.container .asosiy_menu {
    margin: 0 auto;
    margin-top: 1%;
  }
  .container .asosiy_menu table {
  background: #cccc;
  margin: 0 auto;
}
.container .asosiy_menu table tr td {
  width: 280px;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  padding: 10px;
}
.container .asosiy_menu table tr th {
  padding: 10px;
}
.container .asosiy_menu table tr {
    outline: 10px solid #fff;
    text-transform: capitalize;
    font-size: 25px;
    color: #007ACC;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.container .asosiy_menu table tr p {
    text-transform: capitalize;
    font-size: 20px;
    color: #000;
}
.carta {
    margin: 20px 0px 0px;
}

/*asosiy menyuga ko'tarish*/
.container .sayt a span {
    position: absolute;
    right: 50px;
    top: 70%;
    font-size: 20px;
    color: #000;
    position: fixed;
    padding: 20px 15px;
    background-color: rgb(31, 196, 31);
    display: inline;
    border-radius: 8px;
    transition: 0.3s;
}
.container .sayt a span:hover {
    background-color: #007ACC;
    color: #000;
    border-radius: 8px;
    transition: 0.3s;
}
/*(/asosiy menyuga ko'tarish)*/


/*nav*/


nav {
    width: 100%;
    height: 100px;
    padding: 20px 30px;
    display: flex;
    justify-content: flex-start;
    background: #2c2c2c;
    color: #fff;
}
nav ul {
    display: flex;
    justify-content: space-between;
}
nav ul li {
    padding: 0 15px;
    display: flex;
}
nav ul li span {
    margin-top: 1%;
}
nav ul li a {
    color: #ccc;
}
nav ul li a:hover {
    text-decoration: underline;
    color: #fff;
    font-size: 18px;
}
nav {
    justify-content: space-between;
}
nav .admin {
    margin-right: 30px;
}